body {
  background-color: #fff;
}

.tableauViz {
  height: 100vh;
  width: 100vw;
}

/* .flourish-embed, .flourish-sankey {
  height: 100vh;
  width: 100vw;
} */

.vizviz {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
